.react-time {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid rgb(160, 160, 150);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;

  &, & *, & *:before, & *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__hour-view {
  }

  &__minute-view {
  }

  &__second-view {
  }

  &:disabled {
    background-color: rgb(240, 240, 240);
  }

  &:enabled {
    &:hover, &:focus {
      background-color: rgb(230, 230, 230);
    }
  }

  &--hasActive {
    @bgcolor: lighten(rgb(0, 110, 220), 30%);
    background: @bgcolor;

    &:enabled {
      &:hover, &:focus {
        background: lighten(@bgcolor, 10%);
      }
    }
  }

  &--active {
    @bgcolor: rgb(0, 110, 220);
    background: @bgcolor;
    color: white;

    &:enabled {
      &:hover, &:focus {
        background: lighten(@bgcolor, 10%);
      }
    }
  }

  &--selectRange {
    .react-time__tile {
      &--hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}
